html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Heavy.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-HeavyItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./assets/font/AvenirNextLTPro-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

html {
  background-color: white;
  color: #111;
  font-family: "avenir-next";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
	background: #ffffff;
	color: white;
}
.intro {
	background-color: #1c2a38;
	background: url(assets/images/angkor-wall.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 0;
	padding-bottom: 150px;
}
.intro::after {
	content: '';
	display: inline-block;
	width: 100%;
}
.logo-img,
.header-menu {
	font-size: 15px;
	display: block;
	width: 100%;
}
.logo-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.header-menu {
	display: inline-block;
	text-align: center;
}
.header-menu-item {
	padding: 8px;
	font-weight: 100;
}

.header-menu-item: last-child {
	padding: 0;
}
.text-area{
	padding: 80px 28px;
}
.text-area .intro-title {
	font-size: 50px;
	font-weight: 525;
	color: #94ce93;
	text-align: left;
	display: block;
}
.text-area .intro-your {
	font-size: 24px;
	font-weight: 400;
	color: white;
}
.text-area  .intro-shop {
	font-size: 30px;
	font-weight: bold;
	color: #94ce93;
	margin-left: 15px;
	;
}
.text-area .intro-text{
	font-size: 18px;
	color: white;
  line-height: 24px;
	margin-top: 20px;
	display: block;
	padding-bottom: 50px;
}

.intro-action{
	text-align: center;
}

.intro-action .intro-action-button{
	font-size: 18px;
	color: #1c2a38;
	border: 1px solid #94ce93;
	border-radius: 11px;
	background-color: #94ce93;
	padding: 18px 50px;
	text-decoration: none;
}
.work {
	background-color: white;
	font-size: 15px;
	padding-bottom: 1000px;
}
.work-project {
	display: block;
	padding-left: 24px;
	padding-right: 24px;
	margin-top: 24px;
}
.work-project-label {
	background-color: #1c2a38;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
 	margin-bottom: 40px;
}
.work-project-label h1 {
	font-size: 12px;
	color: white;
}
.work-project-label h2 {
	font-size: 24px;
	font-weight: 500;
}
.work-project-label .action{
	font-size: 15px;
	color: #94ce93;
}
